/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block .wp-block-coordinates-mapbox-map {
	margin-bottom: 0;
}

.mapbox-block-token {
	background: hsla(240,5%,57%,.1);
	min-height: 400px;
	padding: 3rem;

	h2 {
		margin-top: 0;
	}

	p {
		margin: 0 0 1.25rem;
	}
}